# {{ package_name }}

{{ description }}

## Installation

```bash
pip install .
```

## Usage

```python
from {{ package_name }}.plugin import {{ plugin_class_name }}

plugin = {{ plugin_class_name }}()
plugin.run()
```
